.page-cards {
    margin-top: -25px;
}

.card-deck .card {
    flex         : 1 0;
    margin-right : 15px;
    margin-bottom: 20px;
    margin-left  : 10px;
    width        : 240px;
    height       : 400px;
    box-shadow   : rgba(0, 0, 0, 0.20) 0px 8px 28px !important;
    border       : 20px;
}

.card .d-block {
    width     : 100%;
    height    : 150px;
    object-fit: cover;
}

.card .card-title {
    font-size    : 21px;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.card .card-text {
    font-size    : 15px;
    white-space  : nowrap;
    overflow     : hidden;
    text-overflow: ellipsis;
}

.card .enter-app {
    width          : 100%;
    height         : 40px;
    background     : #eb3b5a;
    box-shadow     : 17.2868px 27.6589px 41.4884px rgba(23, 142, 166, 0.16);
    border-radius  : 12px;
    text-decoration: none;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.card .p-enter {
    color      : #ffff;
    font-size  : 15px;
    font-weight: bold;
    margin-top : 10px;
}

.list-all {
    position       : fixed;
    right          : 30px;
    bottom         : 0;
    margin-bottom  : 40px;
    z-index        : 10;
    width          : 64px;
    height         : 64px;
    background     : #eb3b5a;
    border-radius  : 20px;
    display        : flex;
    justify-content: center;
    text-decoration: none;
}

.list-all .icon {
    margin-top: 15px;
    color:#ffff;
    font-size: 30px;
}

